.chart {
    flex: 4;
    border-radius: 10px;
    padding: 10px;
    color: gray;

    .title {
        margin-bottom: 20px;
        font-size: 20px;
        color: rgb(130, 123, 123);
    }

    .chartGrid {
        stroke:rgb(228,225,225)
    }
}